﻿@{
    ViewData["Title"] = "Home Page";
}
@model FizzBuzz.Models.FizzbuzzViewModel;

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container">
        <form action="/Home/Result" method="post">
            <div class="form-group">
                @Html.TextBoxFor(m => Model.number)
            </div>
            <input type="submit" value="Submit" class="btn btn-success"/>
        </form>
    </div>
</body>
</html>