﻿@{
    ViewData["Title"] = "Result";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <header>
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
        </div>
    </header>
    <table class="table table-bordered table-sm">
        @foreach (var item in @ViewBag.result)
        {
            <tr>
               <td>@item</td>
            </tr>
        }
    </table>
</body>
</html>
